@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif'), local('LiberationSerif'), url('fonts/liberationserif.woff2') format('woff2'), url('fonts/liberationserif.woff') format('woff'), url('fonts/liberationserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Italic'), local('LiberationSerif-Italic'), url('fonts/liberationserifitalic.woff2') format('woff2'), url('fonts/liberationserifitalic.woff') format('woff'), url('fonts/liberationserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Bold'), local('LiberationSerif-Bold'), url('fonts/liberationserifbold.woff2') format('woff2'), url('fonts/liberationserifbold.woff') format('woff'), url('fonts/liberationserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation Serif';
    src: local('Liberation Serif Bold Italic'), local('LiberationSerif-BoldItalic'), url('fonts/liberationserifbolditalic.woff2') format('woff2'), url('fonts/liberationserifbolditalic.woff') format('woff'), url('fonts/liberationserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
.wrap-wrapper {
  width: 322px;
  height: 234px;
}
.wrapper {
  transform: scale(0.5) translate(-162px, -233px);
}
.box-wrapper {
  background: url('border_orange.png');
  width: 644px;
  height: 467px;
  /* padding: 10px; */
  /* background-color: white; */
  /* border: red; */
  /* border-style: dashed; */
  /* border: 16px solid transparent; */
  /* border-image: 16 repeating-linear-gradient(-35deg, red 0, red 10px, transparent 0, transparent 25px,
               red 0, red 40px, transparent 0, transparent 40px); */
  /* border-image: 16 repeating-linear-gradient(45deg, red 0, red 1em, transparent 0, transparent 2em,
	              #b67 0, #b67 3em, transparent 0, transparent 4em); */
  /* border-width: 10px; */

}
.box {
  width: 604px;
  height: 427px;
  /* margin: auto; */
  top: 20px;
  left: 20px;
  background-color: white;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;

}
.header {
  margin: 14px auto;
  font-family: 'Liberation Serif', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  color: red;
  position: relative;
}
.photo {
  position: absolute;
  left: 20px;
  top: 70px;
  width: 171px;
  height: 228px;
}
.water-logo {
  position: absolute;
  left: 220px;
  top: 30px;
  right: 10px;
  bottom: 20px;
  margin: auto;
  width: 300px
}
.contacts {
  position: absolute;
  height: 50px;
  left: 0px;
  bottom: 20px;
  padding: 0 15px;
  right: 0px;
  color: rgb(179, 69, 69);
  font-family: 'Liberation Serif', sans-serif;
  font-size: 16px;
}

.qr-logo-wrapper {
  position: absolute;
  right: 10px;
  bottom: 20px;
  height: 70px;
}
.qr-logo-wrapper img {
  width: 70px;
  display: block;
  margin: auto;
}
.qr-logo-wrapper .link {
  font-family: 'Liberation Serif', sans-serif;
  font-size: 12px;
  font-stretch: ultra-condensed;
}
.content {
  font-family: 'Liberation Serif', sans-serif;
  position: absolute;
  left: 210px;
  right: 10px;
  font-size: 14px;
  line-height: 110%;
}
.name {
  margin: 8px 6px auto auto;
  text-align: center;
  font-family: 'Liberation Serif', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 115%;

}
.name .birth {
  text-transform: lowercase;
}
.mline {
  font-weight: normal;
  font-size: 15px;
  margin: 6px 0;
}
.mline span {
  color: rgb(179, 69, 69);
  font-weight: bold;
}
.text {
  font-family: 'Liberation Serif', sans-serif;
}
