<mat-card class="example-card" *ngIf="state == 'form'">
  <mat-card-content>

    <mat-accordion class="example-headers-align">
    <!-- #enddocregion multi -->
      <mat-expansion-panel (opened)="selected = 'personal'" [expanded]="selected == 'personal'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Общие сведения
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field> -->
        <mat-form-field class="full-width" appearance="legacy" >
          <mat-label>Имя</mat-label>
          <input matInput [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Дата рождения</mat-label>
          <input matInput [(ngModel)]="birth">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Адрес</mat-label>
          <input matInput [(ngModel)]="address">
        </mat-form-field>

        <!-- <label id="gender-radio-group-label">Пол</label> -->
        <mat-radio-group aria-labelledby="gender-radio-group-label"
            aria-label="Пол" [(ngModel)]="gender">
          <mat-radio-button class="radio-button" value="M">М</mat-radio-button>
          <mat-radio-button class="radio-button" value="F">Ж</mat-radio-button>
        </mat-radio-group>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="selected = 'signs'" [expanded]="selected == 'signs'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Приметы
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Одежда</mat-label>
          <input matInput [(ngModel)]="clothes">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Приметы</mat-label>
          <input matInput [(ngModel)]="signs">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Особые приметы</mat-label>
          <input matInput [(ngModel)]="specialSigns">
        </mat-form-field>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="selected = 'photo'" [expanded]="selected == 'photo'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Фото
          </mat-panel-title>
        </mat-expansion-panel-header>

        <input #file style="display: none;" type="file" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)" />
        <button mat-button style="display: block; width: 171px; margin-bottom: 8px"
          (click)="file.click()">Загрузить фото</button>
        <img   width="171px" height="228px" *ngIf="croppedImage" [src]="croppedImage" />

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="selected = 'text'" [expanded]="selected == 'text'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Обстоятельства пропажи
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width" appearance="legacy">
          <mat-label>Обстоятельства пропажи</mat-label>
          <textarea matInput [(ngModel)]="text"></textarea>
        </mat-form-field>

      </mat-expansion-panel>

    </mat-accordion>

    </mat-card-content>

<mat-card-actions>
  <button mat-button (click)="state = 'ready';">Готово</button>
</mat-card-actions>
</mat-card>

<app-templater *ngIf="state == 'ready'"
  (onBack)="state = 'form';"
  [name]="name"
  [text]="text"
  [birth]="birth"
  [address]="address"
  [clothes]="clothes"
  [signs]="signs"
  [specialSigns]="specialSigns"
  [gender]="gender"
  [imageSrc]="croppedImage"
>
</app-templater>
<app-photo-uploader *ngIf="state == 'photo'"
  (onBack)="state = 'form';"
  [imageChangedEvent]="imageChangedEvent"
  (imageCropped)="imageCropped($event)"
>
</app-photo-uploader>
